/* Used for styling individual "pages" within the larger single HTML page
 * that contains them all without actually switching to a different HTML page.
 */

/* * Universal Page Styling */
.white-background {
	padding-bottom: 0.2em;
	padding-left: 0.5em;
	background-color: var(--primaryDarkContrastColor);
	width: 7.5em;
	border-radius: 3px;
}

.mirrorcheck {
	position: relative;
	top: 2px;
	right: 2px;
	display: inline;

	border-style: solid;
	border-color: blue;
	border-width: 2px;
}

.mirrorlabel {
	position: relative;
	color: var(--primaryLightContrastColor);
	font-size: 1.3em;
	font-weight: 400;
	margin-left: 3%;
	user-select: none;
	cursor: pointer;
}

.chrono-dropdown {
	position: relative;
	width: 8em;
	user-select: none;
}

.chrono-dropdown-btn {
	text-decoration: none;
	display: block;
	text-align: center;
	width: 8em;
	color: var(--primaryDarkContrastColor);
	background-color: #f1f1f1;
	font-weight: 700;
	padding: 8px;
	border-style: solid;
	border-width: thin;
	border-color: var(--primaryDarkContrastColor);
	border-radius: 1px;
	cursor: pointer;
}

/* Small animation as if pressing a button */
.chrono-dropdown-btn:active {
	transform: scale(0.99);
}

.chrono-dropdown-content {
	display: none; /* Change to block when button clicked */
	position: absolute;
	background-color: #f1f1f1;
	min-width: 8em;
	width: auto;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.chrono-dropdown-content > div {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	color: var(--primaryDarkContrastColor);
	cursor: pointer;
	padding: 0.5em;

	font-size: 1em;
}

.chrono-dropdown-content div:hover {
	background-color: #cccccc;
}

.chrono-dropdown-content > div div {
	margin-right: 1em;
}

.chrono-dropdown-content > div img {
	position: relative;
	width: 1em;
	height: auto;
	user-select: none;
}

/* * Styling for the Camera Page */
#camera-page {
	display: none;
}

#dropdown {
	display: block;
}

#camera-video-feed-container {
	/* ! Up for change */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	height: 90%;

	border-style: solid;
	border-color: red;
	border-width: 2px;
}

.video-inner-container {
	margin: 1em;
}

.camera-video {
	/* Do not display. This is only used to interpret video files and send to canvas */
	display: none;
	width: 1920px;
	height: 1080px;
}

.camera-canvas {
	width: 640px;
	height: 360px;
	background: #05386b;

	border-style: solid;
	border-color: pink;
	border-width: 2px;
}

.camera-buttons-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#mirrorcheck2 {
	display: inline;
}

#mirrorlabel2 {
	display: inline;
}

.camera-record-btn {
	display: block;
	border-style: solid;
	border-color: black;
	border-width: 2px;
}

/* * Styling for the Kinect Page */
#kinect-page {
	display: none;
}

#video_canvas {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0;
	padding-right: 0;
	border: solid 1px black;
}

#mirrorcheck1 {
	position: relative;
	top: 2px;
	right: 2px;
	display: inline;
}

#mirrorlabel1 {
	position: relative;
	left: 4px;
	display: inline;
	color: var(--primaryLightContrastColor);
	font-weight: 400;
}

#kinect-refresh-btn {
	display: block;
	margin: 0 auto;
}

/* ! TODO: create checkbox structure in menu 
#kinect-dropdown-content div {
	position: relative;
	color: var(--primaryDarkContrastColor);
	display: block;
	padding: 0.5em 1em;
	text-decoration: none;
	cursor: pointer;

	border-style: solid;
	border-width: 3px;
	border-color: purple;
}

#kinect-dropdown-content div:hover {
	background-color: #cccccc;
}

#kinect-dropdown-content label {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	cursor: pointer;

	border-style: solid;
	border-width: 3px;
	border-color: black;
}

#kinect-dropdown-content span {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	border-style: solid;
	border-width: 3px;
	border-color: blue;
}

#kinect-dropdown-content input {
	position: relative;
	height: 100%;
	opacity: 0;
}
*/

.kinect-option-button-container {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}

.kinect-option-dropdown {
	position: relative;
	width: 8em;
}

.kinect-option-dropdown-button {
	text-decoration: none;
	display: block;
	text-align: center;
	width: 8em;
	color: var(--primaryDarkContrastColor);
	background-color: #f1f1f1;
	font-weight: 700;
	padding: 8px;
	border-style: solid;
	border-width: thin;
	border-color: var(--primaryDarkContrastColor);
	border-radius: 1px;
	cursor: pointer;
}

.kinect-option-dropdown-button:active {
	transform: scale(0.99);
}

.kinect-option-dropdown-content {
	display: none; /* Change to block when button clicked */
	position: absolute;
	background-color: #f1f1f1;
	min-width: 8em;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.kinect-option-dropdown-content a {
	color: var(--primaryDarkContrastColor);
	display: block;
	padding: 0.5em 1em;
	text-decoration: none;
	cursor: pointer;
}

.kinect-option-dropdown-content a:hover {
	background-color: #cccccc;
}

.kinect-video-control-container {
	display: flex;
	justify-content: space-between;
	width: 40em;
	margin: auto;
}

.kinect_on {
	text-decoration: none;
	background-color: var(--primaryDarkContrastColor);
	width: 6em;
	border-radius: 3px;
	color: white;
	font-weight: 400;
	height: 2em;
}

.kinect_off {
	text-decoration: none;

	background-color: var(--primaryDarkContrastColor);
	width: 6em;
	border-radius: 3px;
	color: white;
	font-weight: 400;
	height: 2em;
}

/* * Styling for the Kinect Body Page */
#kinect-body-page {
	display: none;
}

#video_canvas3 {
	width: 960px;
	height: 540px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0;
	padding-right: 0;
}

#mirrorcheck3 {
	display: inline;
}

#mirrorlabel3 {
	display: inline;
}
